<section class="clearfix center">
  <% flash.each do |key, msg| %>
    <div class="notice flash <%= key unless key == 'notice' %>">
      <%= msg %>
      <span class="close"><a href="#">Remove this</a></span>
    </div>
  <% end %>

  <h3>Forgotten Your Password?</h3>

  <%= form_for @user, as: :user, url: password_path do |f| %>
    <%= f.label :email %>
    <%= f.email_field :email %>
    <%= f.submit 'Reset Password', class: 'button' %>
  <% end %>
</section>
